body, h2, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.genre-link {
    font-size: 14pt;
}

.gray {
    font-size: 10pt;
    color: #a4a4a4;
}

.input-search {
    font-size: 17pt;
    @include computer {
        font-size: medium;
    }
}

.favorite {
    color: #ffffff;
}