@import "reset";
@import "mixins";
@import "fonts";
@import "header";
@import "main";
@import "pagination";
@import "footer";



body {
    margin: 0;
    background-color: #15141F;
    color: #fff;
  }