* {
  margin: 0;
  padding: 0;
}

body, h2, button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.genre-link {
  font-size: 14pt;
}

.gray {
  font-size: 10pt;
  color: #a4a4a4;
}

.input-search {
  font-size: 17pt;
}
@media screen and (min-width: 768px) {
  .input-search {
    font-size: medium;
  }
}

.favorite {
  color: #ffffff;
}

header {
  background-color: #000;
  padding: 1rem;
  color: #ff4500; /* MovieBrowser text color */
}

h1 {
  margin: 0;
  font-weight: lighter;
}

main {
  width: 100%;
}
main section {
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
@media screen and (min-width: 768px) {
  main section {
    width: 90%;
    margin: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }
}
main section figure {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  margin: 0;
  width: 100%;
  height: 100%;
  align-content: center;
}
main section figure img {
  position: absolute;
  top: 0%;
  left: -15%;
  width: 130%;
  margin-top: 0;
  transition: transform 0.9s ease;
}
main section figure img:hover {
  transform: scale(1.1);
}

.container {
  width: 100%;
}
.container .trending {
  margin: 31px 24px 10px;
}

.movie-card {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 50vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 2%;
  margin-bottom: 85px;
  padding: 0;
  border-radius: 30px;
  scroll-snap-align: center;
}
@media screen and (min-width: 768px) {
  .movie-card {
    width: 250px;
    height: 450px;
    margin: 10px auto 10px auto;
  }
}

.movie-card--first {
  margin-left: 50%;
}
@media screen and (min-width: 768px) {
  .movie-card--first {
    margin: 2%;
  }
}

.movie-info {
  position: absolute;
  width: 80%;
  bottom: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  margin: 5%;
  padding: 5%;
  color: white;
}
.movie-info h2 {
  font-size: small;
}

.movie-vote-average {
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.29);
  margin: 5%;
  padding: 3%;
  color: white;
  text-align: left;
}
.movie-vote-average h2 {
  font-size: xx-small;
}

.movie-details {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .movie-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
  }
}
.movie-details img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .movie-details img {
    border-radius: 30px;
    width: 25%;
    height: 25%;
    margin: 2%;
  }
}

.movie-results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 85px;
  padding: 0;
  border-radius: 30px;
}

.movie-genre {
  width: 45%;
  margin-bottom: 25px;
}
.movie-genre img {
  width: 100%;
  border-radius: 30px;
}
.movie-genre a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .movie-genre {
    width: 250px;
    height: 450px;
    margin: 10px auto 10px auto;
  }
}

.movie-title {
  text-decoration: none;
  color: #ffffff;
}

.detail {
  margin: 5%;
}
@media screen and (min-width: 768px) {
  .detail {
    width: 60%;
  }
}

.detail-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
}
.detail-row p {
  padding-right: 10%;
}

.detail-50 {
  width: 50%;
  padding: 2% 0 2% 0;
}
.detail-50 h4 {
  padding: 10px 0 10px 0;
}

.movie-spotlight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.genre {
  margin: 5px;
  padding: 5px 10px 5px 10px;
  height: 20px;
  width: auto;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.favorite {
  margin: 20px auto;
  width: 30%;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.favorite img {
  padding: 2px;
  width: 85%;
  height: 85%;
}
@media screen and (min-width: 768px) {
  .favorite {
    margin: auto;
    width: 30%;
    padding: 0;
    height: 30px;
  }
  .favorite img {
    margin: 0;
    width: 80%;
    height: 80%;
  }
}

.heart {
  filter: invert(100%);
}

.heartSolid {
  filter: brightness(0) saturate(100%) invert(45%) sepia(27%) saturate(5880%) hue-rotate(338deg) brightness(113%) contrast(94%);
}

.video-container {
  margin: 20px 0 20px 0;
}
.video-container iframe {
  width: 85%;
  height: 85%;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }
}

.input-search {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #211F30;
  border: 0;
  right: 0px;
  color: #6E6D76;
  padding: 0 25px 0 50px;
}

.genre-links {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
@media screen and (min-width: 768px) {
  .genre-links {
    flex-wrap: wrap;
  }
}

.genre-link {
  border: none;
  background: none;
  white-space: nowrap;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.genre-link.active {
  color: #F75E45;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 3px;
  background-color: #F75E45;
}

#movie-search {
  display: flex;
  position: relative;
  width: 327px;
  height: 48px;
  border-radius: 30px;
  align-items: center;
  margin: auto;
  background-color: #211F30;
  color: #6E6D76;
}
#movie-search button {
  position: absolute;
  left: 20px;
  filter: invert(100%);
  border: 0;
  background: none;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.pagination span {
  padding: 5px 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  align-content: center;
  justify-items: space-between;
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 180%;
  filter: invert(100%);
  transition: filter 0.5s;
}

.icon.active {
  filter: brightness(0) saturate(100%) invert(45%) sepia(27%) saturate(5880%) hue-rotate(338deg) brightness(113%) contrast(94%);
}

body {
  margin: 0;
  background-color: #15141F;
  color: #fff;
}